<div class="container mt-5">
    <h1><%= @restaurant.name %></h1>
    
    <h3><%= @restaurant.category %></h3>
    <p>
        <%= @restaurant.address %>
    </p>
    <p>
        <%= @restaurant.phone_number %>
    </p>

    <% @restaurant.reviews.each do |review|%>
        <p>Rating: <%= review.rating %></p>
        <p><%= review.content %></p>
    <% end %>
    
    <%= button_to  "Add a review", new_restaurant_review_path(@restaurant), method: :get %>

    <%= link_to "Restaurants", restaurants_path %>
</div>


