<div class="container mt-5">
    <h1><%= @restaurant.name %></h1>
    
    <h3><%= @restaurant.category.capitalize %></h3>
    <p class="address">
        <%= @restaurant.address %>
    </p>
    <p class="phone">
        <%= @restaurant.phone_number %>
    </p>

    <% @restaurant.reviews.each do |review|%>
    <%  %>
        <p class="rating-stars">Rating: <%= Array.new(review.rating, "â­").join %></p>
        <p class="rating-text"><%= review.content %></p>
    <% end %>
    
    <br>
    <h3>Add a review</h3>
    <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, label: "Rating", collection: 0..5 %>
    <%= f.input :content, label: "Content" %>
    <%= f.submit %>
    <% end %>
    <br>

    <%= link_to "Restaurants", restaurants_path %>
</div>


